# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=paste_token_bot_disini

# Laravel API Configuration
API_BASE_URL=http://localhost:8000/api/v1
API_KEY=paste_api_key_dari_dashboard_disini

# Timezone
TZ=Asia/Jakarta
